<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header>
      <div class="descuentos">
        <p>Estamos hechos unos locos</p>
      </div>

      <div class="heroes">
        <span class="Harley">Harley Quinn</span>
      </div>
    </header>
    <main class="Harley">
      <section>
          <div>
              
              <img class="foto" src="../img/Harley.png" alt="foto de Harley" />
              <img class="corazón" src="../img/corazón.svg" alt="icono de corazón">
              <h2><a href="home.html"> Harley Quinn:</a></h2>
              <p>Harley Quinn (nombre real Dra. Harleen Frances Quinzel) es un personaje ficticio creado por los estadounidenses Paul Dini y Bruce Timm para la editorial DC Comics. Quinn hizo su debut en el vigésimo-segundo episodio de Batman: la serie animada, «El favor del Joker», en septiembre de 1992 y se convirtió en una villana recurrente en la serie, posee una excelente agilidad y es rápida peleando, solo es superada por Batman y el Joker. Su agilidad se debe a ser una gimnasta y una acróbata.</p>
              <img src="../img/palo de bate.svg" alt="icono de palo de bate">
              <img src="../img/revolver.svg" alt="icono de revolver">
              <img src="../img/flauta.svg" alt="icono de flauta">
              <button><a href="home.html">Volver al home</a></button>
          </div>
       
      </section>
    </main>
    <footer>
      <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>
  </body>
</html>
