<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FormularioII</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header>
      <div class="descuentos">
        <p>Descuentos 20% entodos los productos!</p>
      </div>

      <div class="super">
        <img src="../img/Tienda.png" alt="imagen tienda">
        <span >Super Heroes</span>
      </div>
      
      <nav>
        <ul>
          <li><a>Contacto</a></li>
          <li><a>Registrarme</a></li>
          <li><a>Ingresar</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <article>
          
        </article>
      </section>
    </main>
    <footer>
      <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>
  </body>
</html>
