*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
}


.caja1
{
    font-size: 15px;
    padding: 10px;
    background-color: #1CD1B0;
}

.caja2
{
    position: fixed;
    width: 100%;
    font-size: 40px;
    padding: 28px;
    background-color: #00669F;
}

.caja3
{
    margin-top: 154px;
    margin-bottom: 153px;
}


.cajagrande1, .cajagrande2, .cajagrande3
{
    width: 300px;
    background-color: #F3F3F3;
    display: inline-block;
}

.cajagrande1, .cajagrande3
{
    margin-left: 100px;
    margin-right: 100px;
}


.caja4, .caja4a, .caja4b
{
    width: 300px;
}

.corazon, .corazon1, .corazon2
{
    position: absolute;
    margin-top: 15.87px;
    margin-left: 21px;
}

.radio, .radio1, .radio2
{
    border-radius: 50%;
    position: absolute;
    margin-top: 128px;
    margin-left: 90px;
}

.caja5, .caja5a, .caja5b
{
    width: 267px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 17px;
    padding-bottom: 37px;
}

.caja6, .caja6b
{
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 74px;
    padding-bottom: 10px;
    padding-left: 89px;
    padding-right: 89px;
    width: 122px;
    text-align: center;
}

.caja6a
{
    font-size: 30px;
    padding-top: 74px;
    padding-bottom: 10px;
    padding-left: 65px;
    padding-right: 64px;
    width: 171px;
    text-align: center;
}  

.caja7, .caja7a, .caja7b
{
    padding-top: 15px;
    padding-left: 37px;
    padding-right: 35.78px;
    padding-bottom: 15.52px;
    text-align: center;
    font-size: 15px;
    width: 56px;
    margin-left: 85px;
    margin-right: 86.22px;
    margin-bottom: 18.48px;
    background-color: #00669F;
    color: #F3F3F3;
}
.cajafooter
{
    padding: 16px;
    background-color: #00669F;
    color: white;
}